################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/weatherapi/weatherapi/obj
/weatherapi/.vs/weatherapi
/.vs
/weatherapi/cicdapi/bin/Debug/net8.0
/weatherapi/cicdapi/obj
/weatherapi/weatherapi/bin/Debug/net8.0
/cicdapi/obj
/cicdapi/bin/Debug/net8.0
